body{
    background-color: white;
}
header{
    margin: 0px 10%;

    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    gap: 30px;
}

h1{
    font-size: 150px;
}

h2{
    font-size: 100px;
}

.display-center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 150px;
}

.game-content{
    margin-bottom: 50px;
    margin-top: -100px;
}

.score-content{
    padding-top: 70px;
}

.player-options-content{
    gap: 25px;    
}

.rounded{
    border-radius: 50%;
}

.big-image{
    width: 250px;
}

.small-image{
    width: 100px;
    height: 100px;
}


.game-content{
    display: flex;

    margin-top: 100px;
}

.game-content div{
    flex: 1;
    text-align: center;    
}

.buttons-content{        
display: flex;
    flex-direction: column;
    
    gap: 20px;
}

.buttons-content img{
    margin: auto;    

    float: left;

    color: red;
}