:root {
    --opponent: #f17b7b;
    --player: #ffd454;
    --fondo: #87ebf7;
    font-family: 'Krub', sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--fondo);
}

main {
    pointer-events: none;
    opacity: 0.2;
}

section {
    padding: 50px;
}

img {
    height: 100px;
    width: 100px;
    opacity: 0.2;
    border: 5px solid;
    border-radius: 10px;
    border-color: #212121;
}

.select__image {
    background-color: var(--player);
}

.select__image2 {
    background-color: var(--opponent);
}

.select__image:hover {
    opacity: 1;
    cursor: pointer;
}

header {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 50px;
    align-items: center;
}

header input {
    padding: 10px;
    border-radius: 5px;
}

.colors {
    padding: 2px;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stats div {
    text-align: center;
}

.counter {
    font-size: 100px;
}

.match {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.versus {
    border:none;
    opacity: 1;
    margin: 40px;
}

.selectorPlayer, .selectorOpponent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#choicePlayer, #choiceOpponent {
    height: 300px;
    width: 300px;
    opacity: 1;
}

.decisionFinal {
    display: flex;
    align-items: center;
}

.gameResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

#gameResult {
    text-transform: uppercase;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:1024px){
   header {
        flex-direction: column;
   }
   
   .match {
        flex-direction: column;
   } 

   .selectorPlayer, .selectorOpponent {
        flex-direction: row;
    }

    img {
        height: 50px;
        width: 50px;
        border: 2px solid;
    }

    #choicePlayer, #choiceOpponent {
        height: 100px;
        width: 100px;
    }

    .counter {
        font-size: 20px;
    }

    section {
        padding: 25px;
    }

    header label,.colors {
        display: none;
    }
}
